<div style="text-align: center">
  <h1>Welcome to oil-refinery!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    alt="Nx - Smart, Extensible Build Framework"
  />
</div>
<div>Message: {{ hello$ | async | json }}</div>
